# Local 
Prompt.md
client_secret_559625262616-70kta65plfj2aq6qcev7k9rm1vh5gc1r.apps.googleusercontent.com.json
www.joshw.io

# Dependencies
node_modules/

# Builds
build/
dist/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local
server/.env
client/.env
client/.env.local
server/.env.local

# Editors
.vscode/
.DS_Store
Thumbs.db
